@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
  --font: 'Raleway', sans-serif;
  --color-black: #1e1e1e;
  --color-pink: #ff589e;
  --color-blue: #8261ee;
  --color-gray: #777;
  --color-bg-gray: #f2f2fe;
}

html,
body {
  background: #fff;
  font-family: "Raleway", sans-serif;
  letter-spacing: 0.25px;
  scroll-behavior: smooth;
}

::selection {
  background: #ff589e;
  color: #fff;
}

.btn-pink {
  padding: 14px 20px;
  border-radius: 40px;
  font-size: 13px;
  background-color: var(--color-pink);
  transition: all 0.3s;
  color: #fff;
  display: inline-block;
  line-height: 100%;
}

.btn-pink:hover {
  background-color: var(--color-blue);
  text-decoration: none;
  color: #fff;
}

.btn-blue {
  padding: 14px 20px;
  border-radius: 40px;
  font-size: 13px;
  background-color: var(--color-blue);
  transition: all 0.3s;
  color: #fff;
  display: inline-block;
  line-height: 100%;
}

.btn-blue:hover {
  background-color: var(--color-pink);
  text-decoration: none;
  color: #fff;
}

.title h4 {
  margin-bottom: 30px;
  font-size: 28px;
  color: var(--color-black);
  font-weight: 500;
  line-height: 42px;
}

.title p {
  font-size: 16px;
  color: var(--color-gray);
  line-height: 28px;
  letter-spacing: 1px;
  font-weight: 400;
  margin-bottom: 30px;
}